@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,700,900');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.bodyBG {
    background: rgb(49, 5, 99);
}

.title__logo {
    display: block;
    text-align: center;
    margin: 0 auto;

    padding: 60px 0 40px;
    max-width: 782px;
    width: 100%;
}

.wrapper {
	/* padding: 300px 6%; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all .4s ease-in-out;
	height: 100vh;
	padding: 0 20px;
}

/* 
! ===========================================
! Start Game
! ===========================================
*/
.start {
    width: 200px;
    text-align: center;
    border: 1px solid #5a17b1;
    margin: 20px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    padding: 25px 40px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    background: #5a17b1;
    transition: all .1s ease-in-out;
}

.start:hover {
    background: #6c1bd6;
}

.gameStart {

}

.gameStart .start {
    padding: 0;
    height: 0;
    display: none;
}

/* 
! ===========================================
! Choices
! ===========================================
*/
.choices {
    display: flex;
    justify-content: center;
    position: relative;
    transition: all .3s ease-in-out;
    height: 0;
    overflow: hidden;
    max-width: 966px;
    width: 100%;
}

/* .gameStart .choices {
    height: 117px;
    overflow: hidden;
} */

.choice {
	width: 33.333%;
	text-align: center;
	border: 1px solid #5a17b1;
	margin: 15px;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 5px;
	padding: 25px 40px;
	font-weight: 500;
	font-size: 16px;
	color: #5a17b1;
	transition: all .1s ease-in-out;
	/* line-height: 35px; */
	display: flex;
	justify-content: center;
	align-self: center;
}

.gameStart .choice {
    border: 1px solid #fff;
    color: #fff;
}

.choice:hover {
    border: 1px solid #EA3260;
}

.choice__selected {
    border: 1px solid #EA3260 !important;
    color: #EA3260;

}

.gameStart .choices {
    height: 117px;
    animation-name: showChoices;
    animation-duration: 4s;
    animation-delay: 0;
}



/* 
! ===========================================
! Display
! ===========================================
*/
.display {
    display: block;
    position: relative;
    margin: 0 0 50px;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: all .5s ease-in-out;
    justify-content: center;
    align-items: center;
}

.gameStart .display {
    height: 260px;
    opacity: 1;
}



.display__results {
    display: none;
    text-align: center;
    background: #fff;
    max-width: 500px;
    margin: 0 auto;
    border-top: 10px solid #5a17b1;
    padding: 20px 40px;
    border-radius: 5px;
}

.display__results--open {
    display: block;
}

.display__result {
    color: #EA3260;
    font-size: 80px;
    font-weight: 100;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 100px;
}

.display__details {
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    color: #000;
}

.display__again {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 30px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    margin: 15px 0 0;
    cursor: pointer;
    background: #5a17b1;;
}

.display__again:hover {
    background: #761deb;
}

.display__again i {
    font-size: 14px;
    padding-left: 4px;
}

/* 
! ===========================================
! Countdown
! ===========================================
*/
.display__countdown {
    display: inline-block;
    width: 100%;
    position: relative;
    text-align: center;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.display__count {
    font-size: 150px;
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #5a17b1;
}

.three {
    opacity: 0;
}

.two {
    opacity: 0;
}

.one {
    opacity: 0;
}

.gameStart .three {
    animation-name: count1;
    animation-duration: .7s;
    animation-delay: .2s;
}

.gameStart .two {
    animation-name: count2;
    animation-duration: .7s;
    animation-delay: 1s;
}

.gameStart .one {
    animation-name: count3;
    animation-duration: .7s;
    animation-delay: 1.9s;
}

/* 
! ===========================================
! Animation
! ===========================================
*/
.element {

  }
  
  @keyframes count1 {
    0% {
      opacity: 0;
    }
    99% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes count2 {
    0% {
      opacity: 0;
    }
    99% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes count3 {
    0% {
      opacity: 0;
    }
    99% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  
  @keyframes showChoices {
    0% {
      height: 0;
    }
    75% {
        height: 0;
      }
    
    100% {
      height: 117px;
    }
  }

  @keyframes showChoices--mobile {
    0% {
      height: 0;
    }
    75% {
        height: 0;
      }
    
    100% {
      height: 487px;
    }
  }

/* 
! ===========================================
! Utility Classes
! ===========================================
*/

.choices .choice {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */ 
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}


/* 
? ===========================================
? MEDIA QUERIES
? ===========================================
*/
@media (max-width: 750px) {

    .title__logo {
        padding: 20px 0 0;

    }
    .choices {
        flex-direction: column;
        height: 0;
    }

    .gameStart .choices {
        height: 487px;
        animation: none;
        animation-name: showChoices--mobile;
        animation-duration: 4s;
        animation-delay: 0;
    }

    .choice {
        width: 50%;
    }

    .display__result {
        font-size: 50px;
    }
    
    .display__details {
        font-size: 14px;
        letter-spacing: 0;
    }

    .gameStart .choices {
        height: 4;

    }
}